<p id="notice"><%= notice %></p>

<p>
  <strong>Deposit amount:</strong>
  <%= @deposit.deposit_amount %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @deposit.goal %>
</p>

<%= link_to 'Edit', edit_deposit_path(@deposit) %> |
<%= link_to 'Back', deposits_path %>
